body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .navbar{
  position: fixed;
  width: 100vw;
  background-color: white;
  border-bottom: 2px solid #dbdbdb;
  
  display: flex;
  align-items: center;
  height: 54px;
  justify-content: space-between;
  
} */

.luar{
  display: flex;
  flex-direction: column;
}

.navbar{
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #dbdbdb;
  display: flex;
  align-items: center;
  height: 54px;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 300px;
  padding-right:300px;
}

.dua{
  padding: 3px 10px 3px 20px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 200px;
  position: relative;
}

.dua form{
  position: relative;
}

.dua input{
  border: none;
  background-color: #fafafa;
  padding-left: 20px;
}

.cari{
  height: 12px;
  width: 12px;
  position: absolute;
  top: 20%;
}

.iconnav{
  display: flex;
  height: 25px;
  width: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.tiga{
  display: flex;
}

.isi{
  padding-top: 80px;
  padding-left: 300px;
  padding-right: 300px;
  display: flex;
  flex-direction: row;
}


.kiri{
  background-color: rgb(172, 172, 243);
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.storybar{
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 105px;
  box-sizing: border-box;
  overflow-x: scroll;
  white-space: nowrap;
  /* ini ngilangin scrollbar */
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

/* ini ngilangin scrollbar */
.storybar::-webkit-scrollbar {
  display: none;
}

.story{
  position: absolute;
}

.story img{
  width: 80px;
  height: 80px;
  padding-left: 5px;
  padding-right: 5px;
}

.post{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.postbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navpost{
  display: flex;
  align-items: center;
}

.iconpost{
  width: 40px;
  height: 40px;
}

.menu{
  display: flex;
  justify-self: flex-end;
}

.tengah{
  background-color: rgb(228, 255, 200);
  display: flex;
  flex-grow: 0.1;
}

.kanan{
  background-color: rgb(255, 180, 180);
  display: flex;
  flex-grow: 2;
}